<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l9">
        <h5 class="white-text">About me!</h5>
        <p class="grey-text text-lighten-4">SAHU SRIHARI L.</p>
        <p class="grey-text text-lighten-4">I made this project in accordance to my internship project.</p>
      </div>
      <div class="col s12 m4 l3">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><i class="fab fa-linkedin"></i><a class="grey-text text-lighten-4" href="https://www.linkedin.com/in/srihari-sahu/"> Linkedin</a></li>
          <li><i class="fab fa-github"></i><a class="grey-text text-lighten-4" href="https://github.com/srihari292"> Github</a></li>
          <li><i class="fab fa-instagram"></i><a class="grey-text text-lighten-4"
              href="https://www.instagram.com/sonic._schemer/"> Instagram</a></li>
          
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2024 Copyright Sahu Srihari L.
      <a class="grey-text text-lighten-4 right" href="#">Thanks</a>
    </div>
  </div>
</footer>